<div class="mainn">
  <div class="description">
    <h1>Your Favourite Movies Reviewed</h1>
    <h2> Collection of Hit Movies, Songs and Trailers. </h2> <br>
    <%= link_to "Movies", movies_path, class:"btn btn-raised btn-danger button1" %>
  </div>
</div>